*{
    /* border: solid 3px blue; */
    padding: 0px;
    margin: 0px;
    box-sizing: co;
}

.contenedor-titulo-principal{
    background-color: purple;
    color: #ffffff;
    border-radius: 15px;
    margin: 40px;
    text-align: center;
    padding: 20px;
}

h1{
    
}