*{
    /* border: solid 3px blue; */
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.contenedor-titulo-principal{
    border: solid 4px green;
    padding: 30px;
    margin: 50px;
    width: 500px;
}

h1{
    border: solid 2px red;
}